
= label_tag 'To: '
.receiverList1

= form_tag('/message_receivers/new', :method => 'get', :remote => true) do
	= submit_tag 'Add Receiver'
.receiverList2

= form_for @message do |f|
	.field
		= f.label :subject
		= f.text_field :subject
	.field
		= f.text_area :content
	.actions
		= f.submit 'Save'
