= render 'layouts/header'

#leftBar
	.loginPanel
		= form_tag do
			%div
				%label Email
				%br
				= text_field_tag :email, params[:email], :placeholder => ""
			%div
				%label Password
				%br
				= password_field_tag :password, params[:password]
			= submit_tag "Login"

	.regPanel
		= form_tag('users/new', :method => 'get') do
			= submit_tag "Sign Up"
		
