.aGroup
	- if group.user_id == session[:user_id]
		%b= link_to group.name, group
		= link_to 'Rename', edit_group_path(group)
		\|
		= link_to 'Request', group_requests_url + "?group_id=#{group.id}"
		\|
		= link_to 'Destory', group, :confirm => 'Are you sure?', :method => :delete
	- else
		%b= group.name
		= button_to 'Join', group_requests_path(:group_id => group.id)
