= render 'layouts/header'
= render 'layouts/left_bar'

#mainBar
	.groupHeader
		%h2 Groups
		= link_to 'Create Group', '/groups/new'
		\|
		= link_to 'Find Group', '/groupsearch'

	.groupList
		= render @groups
