= render 'layouts/header'
= render 'layouts/left_bar'

#mainBar
	.groupSearchHeader
		%h3 Groups you may have interest
	- @groups.each do |g|
		%b= g.name
		= form_for(@group_request, :remote => true) do |form|
			= hidden_field_tag :group_id, g.id
			= form.submit 'Join'
