= render 'layouts/header'
= render 'layouts/left_bar'

#mainBar
	.userProfileHeader
		%h3 Profile
	.userProfile
		%p
			%b= @user.first_name + " " + @user.last_name
		%p
			%b Email:
			= @user.email
		- if @user.month_of_birth != nil
			%p
				%b Birthday:
				= @user.month_of_birth.to_s + "/" + @user.day_of_birth.to_s + "/" + @user.year_of_birth.to_s
		- if @user.address != nil
			%p
				%b Address:
				= @user.address
	- if @user.id == session[:user_id]
		= link_to 'Edit your profile', edit_user_path(@user)

#rightBar
	
	= render 'preferences/form'
