.aAd
	%ul
		%li
			Category:
			= advertisement.category
		%li
			Company:
			= advertisement.company
		%li
			Name:
			= advertisement.item_name
		%li
			Price:
			= advertisement.unit_price
		%li
			Remaining:
			= advertisement.quantity
		%li
			- if session[:manager_id]
				= link_to 'Show', advertisement
				= link_to 'Edit', edit_advertisement_path(advertisement)
				= link_to 'Delete', advertisement, :confirm => 'Are you sure?', :method => :delete, :remote => true
			- elsif session[:user_id]
				= link_to 'Buy', "/purchase/new?ad=#{advertisement.id}", :remote => true
