.aAd
	%table
		%tr
			%td Category:
			%td= advertisement.category
		%tr
			%td Company:
			%td= advertisement.company
		%tr
			%td Item Name:
			%td= advertisement.item_name
		%tr
			%td Price:
			%td= advertisement.unit_price
		%tr
			%td Quantity:
			%td= advertisement.quantity
		%tr
			%td Number of Sold:
			%td= advertisement.sold
		%tr
			%td Date:
			%td= advertisement.updated_at.localtime.strftime("%Y-%m-%d")
		%tr
			%td
				- if session[:manager_id]
					= link_to 'Show', advertisement
					= link_to 'Edit', edit_advertisement_path(advertisement)
					- if advertisement.sold == 0
						= link_to 'Delete', advertisement, :confirm => 'Are you sure?', :method => :delete, :remote => true
				- elsif session[:user_id]
					= link_to 'Buy', "/purchase/new?ad=#{advertisement.id}", :remote => true

