%h1 Listing advertisements

%table
  %tr
    %th Type
    %th Company
    %th Item name
    %th Unit price
    %th Quantity
    %th
    %th
    %th

  - @advertisements.each do |advertisement|
    %tr
      %td= advertisement.type
      %td= advertisement.company
      %td= advertisement.item_name
      %td= advertisement.unit_price
      %td= advertisement.quantity
      %td= link_to 'Show', advertisement
      %td= link_to 'Edit', edit_advertisement_path(advertisement)
      %td= link_to 'Destroy', advertisement, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Advertisement', new_advertisement_path
