= render 'layouts/header'
= render 'layouts/left_bar'

#mainBar
	.postForm
		= render 'posts/form'
	.newsFeedHeader
		%p
			%b News Feed
	.newsFeed
		= render @posts

#rightBar
	- if @page.category == 'group'
		.groupMemberList
			%h3 Members
			= render @group_members
	- else
		
