= render 'layouts/header'
= render 'layouts/left_bar'

#mainBar
	.postForm
		= render 'posts/form'
	.newsFeedHeader
		%p
			%b News Feed
	.newsFeed
		= render @posts

#rightBar
	- if @page.category == 'group'
		%h4= @group.name
		%h4 Group Members
		= render @group_members
	- else
		= link_to @user.first_name + " " + @user.last_name, "/users/#{@user.id}"
