= form_tag('/management/create', :method => :post) do
	%table
		%tr
			%td= label_tag :account
			%td= text_field_tag 'account'
		%tr
			%td= label_tag :password
			%td= password_field_tag 'password'
		%tr
			%td= submit_tag :login
