= render 'layouts/header'
= render 'layouts/left_bar'

#mainBar
	.summaryHeader
		%h2 Sales Summary
		%ul
			%li= link_to 'Transaction', '/summary/transaction'
			%li= link_to 'Stat', '/summary/stat'
			%li= link_to 'Search', '/summary/search'
	
	.summaryMain

#rightBar
