%h2 Friend Requests

%table

	- @friend_requests.each do |friend_request|
		%tr
			%td= friend_request.first_name + " " + friend_request.last_name
			%td
				= form_for friend_request do |f|
					= f.submit 'Accept'
			%td= link_to 'Destroy', friend_request, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Friend request', new_friend_request_path
