.aPost
	.postUser
		%p
			%b= post.first_name + " " + post.last_name
	.postConent
		%p= post.content
		.postEdit
			= post.updated_at.localtime
			- if post.user_id == session[:user_id]
				= link_to 'Delete', post, :method => :delete, :remote => true
				= link_to 'Edit', "/posts/#{post.id}/edit"

	.commentList
		- if post.comments.length > 0
			= render post.comments

	.newComment
		= form_for(@comment, :remote => true) do |ff|
			= hidden_field_tag :post_id, post.id
			= ff.text_area :content, :cols => 50, :rows => 2
			%br
			= ff.submit 'Comment'

