= render 'layouts/header'
= render 'layouts/left_bar'

#mainBar
	%h2 Editing post
	= form_for(@post) do |f|
		.field
			= f.hidden_field :page_id, :value => @post.page_id
		.field
			= f.text_area :content, :cols => 50, :rows => 2, :value => @post.content
		.actions
			= f.submit 'Edit'


