%h1 Listing group_moderators

%table
  %tr
    %th Group
    %th User
    %th
    %th
    %th

  - @group_moderators.each do |group_moderator|
    %tr
      %td= group_moderator.group_id
      %td= group_moderator.user_id
      %td= link_to 'Show', group_moderator
      %td= link_to 'Edit', edit_group_moderator_path(group_moderator)
      %td= link_to 'Destroy', group_moderator, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Group moderator', new_group_moderator_path
