.aSale
	%ul
		%li
			Transaction Id:
			= sale.id
		%li
			User ID:
			= sale.user_id
		%li
			Ad:
			= sale.advertisement_id
		%li
			Quantity:
			= sale.quantity
		%li
			Time:
			= sale.updated_at.localtime
