= render 'layouts/header'
= render 'layouts/left_bar'

#mainBar
	.saleHeader
		%h2 Sales
		%ul
			%li= link_to 'All Transactions', '/sales', :remote => true
			%li= link_to 'Search', '/sales'

	.saleMain
		.saleList
			= render @sales

#rightBar
