#leftBar
	- if session[:user_id]
		%div
			= link_to "Home", "/pages/#{session[:page_id]}"
		%div
			= link_to "Profile", "/users/#{session[:user_id]}"
		%div
			= link_to "Friends", :controller => :friends, :action => :index
		%div
			= link_to "Circles", :controller => :circles, :action => :index
		%div
			= link_to "Groups", :controller => :groups, :action => :index
		%div
			= link_to "Message", :controller => :messages, :action => :index
	- elsif session[:manager_id]
		%div
			= link_to 'Ads', advertisements_url, :remote => true
