#leftBar
	%div
		= link_to "Home", "/pages/#{session[:page_id]}"
	%div
		= link_to "Friends", :controller => :friends, :action => :index
	%div
		= link_to "Circles", :controller => :circles, :action => :index
	%div
		= link_to "Groups", :controller => :groups, :action => :index
