<!DOCTYPE html>
<html>
<head>
  <title>Cse532SocialNetwork</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper-header">
	<div id="navigationBar">
		<% if session[:user_id] %>
			<%= link_to "Friends", :controller => :friends, :action => :index %>
			<%= link_to "Requests", :controller => :friend_requests, :action => :index %>
			<%= link_to "Logout", :controller => :sessions, :action => :destroy %>
		<% else %>
			<%= link_to "Login", :controller => :sessions, :action => :new %>
			<%= link_to "Signup", :controller => :users, :action => :new %>
		<% end %>
	</div>
</div>

<%= yield %>

</body>
</html>
